/* 
 * Orion Health Brand Colors
 * 
 * These are the corporate brand colors.
 * The colors used in our products should be derived from this color set. 
 * Do not use these colors directly. Use the ones in _cow-colors, or if necessary _product-colors
 */
 
/* Main Colors */
$cow-brand-color-teal: 				#00697E;
$cow-brand-color-mandarin: 			#F37321;

/* Secondary Colors */
$cow-brand-color-ocean: 			#8ED1E1;
$cow-brand-color-coral: 			#F1645D;
$cow-brand-color-kelp: 				#B4D88B;
$cow-brand-color-sand: 				#D3CAB7;

/* Neutral Palette */
$cow-brand-color-grey-extra-light:	#F1F1EF;
$cow-brand-color-grey-light: 		#D2D2CF;
$cow-brand-color-grey-mid: 			#9E9F9B;
$cow-brand-color-grey-dark:			#636360;